body{
    margin: 0;
    background-color: hsl(208, 36%, 92%);
}
img{
    
    width: 150px;
    height: 50px;
    
}
.logo{
    display: flex;
    justify-content: center ;
    background-color: hsl(160, 100%, 85%);
}
.link{
    position: fixed;
    width: 190px;
    margin-top: -50px;
    height: 100vh;
    background-color: hsl(60, 20%, 99%);
}
.link a{
    text-decoration: none;
}
li{
    margin-top: 55px;
}
#end{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}
.bt{
    display: flex;
    justify-content: center;
}
button{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
}
input{
    width: 100%;
}
form{
    background-color: azure;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 5px 5px 25px  rgb(26, 25, 25);
}
.h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 1%, 50%);
}
#start{
    position: fixed;
    top: 0;
    width: 100%;
}